@import '../../../../../../../styles/variables.scss';
.topping{
    display: flex;
    justify-content: space-between;

    &Price{
        color: $button-color;
        margin: 0.3rem 0;
    }
    &Name{
        font-weight: bold;  
        margin: 0.3rem 0;
    }   
}
