.userContent{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid gray;
    border-radius: 0%;
    .userInfo{
        background:none;
        padding: 0;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        width: 100%;

        .inputLabel{
            color: rgb(158, 156, 156);
            margin-bottom: 0.2rem;
        }
        .inputLabel--required{
            color: red;
            margin-bottom: 0.2rem;
        }

        input{
            color:white;
            background: transparent;
            border: none;
            font-size: 1rem;
        }
    }
}