@import '../../styles/variables.scss';
.pagesNavContainer{
    display: flex;
    justify-content: space-between;
   
    a{
        text-decoration: none;
    }
    .cartButton{
        background: $button-color;
        border: 0;
        color: white;
        border-radius: 0.8rem;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        span{
            margin-left: 0.6rem;
        }
    }
}
.relativeDivCartButton{
    position: relative;
}