@mixin nav-button-styles($color) {
    position: relative;
    cursor: pointer;
    border-style: none;
    background: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  
    &:hover {
      color: $hover-color;
    }
  
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: $color;
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.6s ease;
    }
  
    &:hover::before {
      transform: scaleX(1);
      transform-origin: bottom left;
      background-color: $hover-color;
    }
  }