@import '../../../styles/variables.scss';

.newProductsPopup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary-color;
    border-radius: 3%;
    padding: 20px;
    z-index: 1000;

    img{
        width: 40rem;
    }
    .onCloseButton{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-bottom: 1rem;
        cursor: pointer;
    }
      
}