@import '../../styles/variables.scss';

.productCounter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 5rem;

    span{
        color: $button-color;
    }
}