@import '../../styles/variables.scss';
.orderDetailsContent{
    width: 100%;
    button{
        margin: 2rem 0 6rem 0;
        width: 100%;
        border-radius: 10px;
        color: white;
        border: none;
        background-color: $button-color;
        padding: 1rem;
        font-size: large;
        font-weight: 700;
        cursor: pointer;
        &:hover{
            background-color: $hover-color;
        }
    }
}