@import './styles/variables.scss';
@import './styles/mixins.scss';


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black; 
  color: white;
  font-family: 'Rubik', sans-serif;
  letter-spacing: normal;
}


.container{
  max-width: 1110px;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
  margin: auto;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 1rem;
}

.navigation__button {
  color:white;
  @include nav-button-styles(white);
  &:active {
    transform: scale(0.9); 
    transition: transform 0.1s ease; 
  }
}

.navigation__button--active {
  @include nav-button-styles($hover-color);
  color: $hover-color;
}
