@import '../../styles/variables.scss';

.contacts{
    background-color: $primary-color;
    padding: 1rem;
    border-radius: 10px;

    h2{
        margin: 0;
    }

    &Info{
        :not(:last-child){
          margin-top: 1rem;  
        }
    }
    button{
        width: 100%;
        background-color: $button-color;
        border-radius: 10px;
        cursor: pointer;
        padding: 0.5rem;
        color: white;
        margin-top: 4rem;
        border: none;
        font-size: medium;
        &:hover{
            background-color: $hover-color;
        }
    }
}
.select{
    background: transparent;
    border: none; 
    color:white;
    cursor: pointer;
    font-size: medium;
    option{
        color:white;
        background-color: $primary-color;  
        font-size: medium;
    }
}